@model Projet.Net.Models.Resultat

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Resultat</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Tournoi
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tournoi.Nom)
        </dd>
        <dt class="col-sm-2">
            Date de Match
        </dt>
        <dd class="col-sm-10">
            @String.Format("{0:yyyy-MM-dd}", Model.DateMatch)
        </dd>
        <dt class="col-sm-2">
            Equipe Gagnante
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EquipeGagnante.NomEquipe)
        </dd>
        <dt class="col-sm-2">
            Score Gagnant
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ScoreGagnant)
        </dd>
        <dt class="col-sm-2">
            Score Perdant
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ScorePerdant)
        </dd>
        <dt class="col-sm-2">
            Equipe Perdante
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EquipePerdante.NomEquipe)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
