@model IEnumerable<Projet.Net.Models.Tournoi>

@{
    ViewData["Title"] = "Index";
}



<section id="shop-cart-section" class="pt-120 pb-120">
    <div class="overlay">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!-- Change from col-lg-8 to col-lg-12 -->
                    <h1>Liste des Tournois</h1>
                    <a asp-action="Create" class="cmn-btn"> Create New</a>

                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Nom)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Descr)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Jeu)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.DateDebut)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.DateFin)
                                    </th>

                                    <th>
                                        ACTION
                                    </th>

                                </tr>
                            </thead>
                            <tbody>



                                @foreach (var item in Model)
                                {

                                    <tr>
                                        <th scope="row">
                                            <img src="~/images/cart-image.png" alt="image">
                                            <span>       @Html.DisplayFor(modelItem => item.Nom)</span>
                                        </th>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Descr)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Jeu)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.DateDebut)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.DateFin)
                                        </td>
                                     
                                        <td>

                                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>

                </div>

            </div>
        </div>
</section>